main {
    margin: 0 5%;
    padding: 3%;
    font-size: 10.5px;
}

main table {
    text-align: center;
    width: 100%;
    background: lightsteelblue;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

table button {
    font-size: 8px;
}

td {
    word-wrap: break-word;
}

tr {
    border: 1px solid black;
}

#noOrders {
    text-align: center;
    background: lightsteelblue;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 30%;
    font-size: 15px;
}

@media screen and (min-width: 769px) {

    table button {
        font-size: 12px;
    }

}
