main > div {
	border-radius: 8px;
	background: lightsteelblue;
	margin: 5% 0;
	border: 1px solid black;
    border-collapse:collapse;
}

main > div > img {
	padding: 2%;
	width: 40%;
	height: 40%;
}

main > div > div {
	padding: 2%;
	width: 60%;
	height: 40%;
}

main > div > footer {
	text-align: center;
	padding-bottom: 3%;
}

main > div > div > ul {
	font-size: 80%;
}

main{
	margin: 0 5%;
}

main button {
	background: orange;
}

@media screen and (min-width: 769px) {
	
	main > div {
        display: inline-block;
        width: 28%;
        margin: 2%;
        vertical-align: middle;
	}
	
	main > div > img {
		padding: 2%;
		width: 96%;
		height: 96%;
	}

}