main > div {
    text-align: center;
    margin: 5%;
    padding: 2%;
    background-color: lightgrey;
    border-radius: 5%;
    border: 1px solid black;
    border-collapse:collapse;
    /*max-height: 400px;
    min-height: 400px;*/
    object-fit: cover;
}

main > div > img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
}

@media screen and (min-width: 769px) {
	
	main > div {
        display: inline-block;
        width: 25%;
        margin: 2%;
        vertical-align: middle;
    }

}