main {
	padding-top: 3%;
}

section > h3 {
    display: none;
}

/* Hiding query to update articles */
main > form > label, #query {
    display: none;
}

main > article {
    background:lightsteelblue;
    margin: 4%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

main > article > p {
    padding: 1% 10%;
    margin-top: 0;
    font-size: 10px;
}

main > section > aside {
    display: none;
}

main > section > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    transition: linear all 1s;
}

h2 {
    text-align: center;
}

form {
    background: lightsteelblue;
    margin: 5%;
    padding: 2% 15%;
    border-radius: 8px;
    border: 1px solid black;
}

form > table {
    margin: auto;
    text-align: center;
}

#addart {
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 769px){
    
    main > section {
        padding: 0 5%;
    }

    main > section > img{
        width: 41.4%;
        height: 100%;
    }

    main > article > p {
        padding: 1% 10%;
        margin-top: 0;
        font-size: 15px;
    }
    

}