main > article, h1 {
    background: lightsteelblue;
    margin: 3%;
    border-radius: 8px;
    padding: 2%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

main p {
    text-align: center;
    background: lightsteelblue;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 30%;
    font-size: 15px;
}

.not-visualized {
    background: orange;
}