article {
    background: lightsteelblue;
    margin: 5%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
    border-radius: 8px;
}

main img {
    padding: 2%;
    height: 30%;
    width: 30%;
}

main div {
    padding: 2%;
}

article > h3 {
    display: none;
}