main button {
    background: orange;
}

main p {
    text-align: center;
}

h1 {
    background-color: lightsteelblue;
    margin: 5%;
    padding: 2%;
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
    border-collapse:collapse;
}