main{
    margin: 0 5%;
    padding: 3%;
    font-size: 10.5px;
}

main > table{
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

table{
    background: lightsteelblue;
    border: black;
}

table, tr{
    border: 1px solid black;
    border-collapse:collapse;
}

th, td{
    width: 33%;
}

#noOrders {
    text-align: center;
    background: lightsteelblue;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}