main > section {
    margin: 8% 5% 5% 5%;
    background: lightsteelblue;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

main > section >div > img {
    margin-top: 2%;
    height: 30%;
    width: 30%;
    background-color: aliceblue;
    border-radius: 48%;
}

#main_form {
    display: inline-block;
    margin-bottom: 2%;
}

#main_form > table > tbody > tr > td > label {
    font-size: 90%;
}

main > section {
    text-align: center;
}

main > p {
    color: red;
    text-align: center;
}

#modify {
    font-size: 80%;
    font-weight: bold;
    background: orange;
    margin: 3% 0;
}

#up_form {
    text-align: center;
}

@media screen and (min-width: 769px) {

    main > section > div {
        width: 50%;
    }
    
    main > section > div, #main_form {
        display: inline-block;
        vertical-align: middle;
    }

}